html,
body {
  width: 100%;
  height: 100%;
  font-family: "Gamja Flower";
  font-size: 28px;
  color: #222;
}

.navbar li a:hover {
  color: black !important;
}
.carousel-inner img {
  margin-left: 42px;
  width: 95%;
  height: 450px;
  margin-top: 10px;
}
.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.btn-primary {
  background-color: rgb(92, 92, 92);
  border: 1px solid white;
}
.btn-primary:hover {
  border: 1px solid white;
}
/*backtotop*/
.back-to-top {
  display: scroll;
  position: fixed;
  bottom: 15px;
  right: 15px;
}
h2 {
  font-weight: bold;
}
h4 {
  font-size: 30px;
}
/*contact*/
.social a {
  font-size: 3em;
  padding: 3rem;
}
.footer {
  float: left;
  display: block;
}

.fa-facebook {
  color: #3b5998;
}
.fa-twitter {
  color: #00aced;
}
.fa-google-plus-g {
  color: #dd4b39;
}
.fa-instagram {
  color: #517fa4;
}
.fa-youtube {
  color: #bb0000;
}